<div id="<%= dom_id page %>">
  <p>
    <strong>Home:</strong>
    <%= page.home %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= page.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= page.body %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= page.comment %>
  </p>

</div>
